<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://casabesoft.com/app/CSTraffic" version="1.0.0" viewmodes="maximized">
    <tizen:application id="AfhofeztMJ.CSTrafficTizen" package="AfhofeztMJ" required_version="2.2"/>
    <author email="belloopauste@yahoo.com">Carlos Bello Pauste</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.480.800"/>
    <feature name="http://tizen.org/feature/screen.size.normal.720.1280"/>
    <icon src="icon.png"/>
    <name>CSTraffic</name>
</widget>
