<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://casabesoft.com/app/CSTraffic" version="1.0.0" viewmodes="maximized">
    <tizen:application id="AfhofeztMJ.CSTrafficTizen" package="AfhofeztMJ" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>CSTraffic</name>
</widget>
